/* https://fonts.google.com/specimen/Kumbh+Sans?preview.text_type=custom&selection.family=Kumbh+Sans:wght@300;400;700&sidebar.open=true */
@font-face 
{
    font-family: "Kumbh Sans";
    src: url("../font/kubesans.woff2") format("woff2");
}


body
{
    font-family: "Kumbh Sans", sans-serif;

    height: 100vh;
    width: 100vw;

    overflow-x: hidden;

    background-color: rgb(30, 33, 63);
    color: rgb(215, 224, 255);

    line-height: 1.5;
}


header
{
    justify-self: flex-start;
}



.boton-atras
{
    padding: 20px;
    background-color: brown;
    border-radius: 5px;
    font-weight: bolder;


}

main
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-content: center;
    gap: 30px;

}


.reloj-completo
{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    gap: 20px;
}

.titulo
{
    font-size: 1.5em;
    font-weight: bolder;
    letter-spacing: 4px;
    color: rgb(215, 224, 255);
    
    z-index: 1;
}

.reloj-contenedor
{
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-bottom: 2rem;
    
    width: 100%;

}

.imagen-circulo
{
    filter: drop-shadow(-40px -40px 40px rgb(39, 44, 90)) drop-shadow(40px 40px 40px rgb(18, 21, 48));
    
    width: 100%;
}

.sombra
{
    position: absolute;
    
    width: 300px;
    
    z-index: 1;
}

.texto-centrado
{
    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 1;

}

.tiempo-total-texto
{
    font-size: 0.75em;
    font-weight: bold;
    letter-spacing: 0.2em;



}

.tiempo-actual-texto
{
    font-size: 4em;
    font-weight: bold;
}

.tiempo-terminar
{
    letter-spacing: 6px;
    font-weight: bolder;
    margin-bottom: 15px;
    
    opacity: 0;
    
}

.tiempo-terminar:hover
{
    color: rgb(248, 112, 112);

}


.tiempo-start
{
    font-weight: bolder;
    letter-spacing: 12px;

}

.tiempo-start:hover
{
    color: rgb(248, 112, 112);

}

.tabla-estadisticas
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}


.elemento-estadisticas
{
    border-radius: 15px;
    background-color: rgb(128 29 47);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 7px;
    
    z-index: 1;

}

